@import "./colors.scss";

body {
  background-color: map-get($primary, primary);
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
